<div *ngIf="shoppingCart?.length > 0">
  <div class="my-3">
    <h2 class="text-center">
      Shopping cart: {{totalPrice| currency:'PLN '}}
    </h2>
    <a class="float-right" [routerLink]="['/address-details']">
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </a>
  </div>
  <div class="row my-5">
    <div class="col-md-6 p-2" *ngFor="let item of user.shoppingCart;let i = index">
      <div class="row">
        <div class="col-5">
          <a [routerLink]="['/item', item._id]">
            <img class="item-img" src="{{item.img}}">
          </a>
        </div>
        <div class="col-5">
          <h5>
            <strong>{{item.brand}}</strong>
          </h5>
          <h5>{{item.name | truncate}}
          </h5>
          <h5>Size: {{item.sizeSelected}}</h5>
          <h5>Quantity: x{{item.quantity}}</h5>
          <h4 *ngIf="!item.newPrice">{{item.price | currency:'PLN '}}</h4>
          <h4 class="red" *ngIf="item.newPrice"> {{item.newPrice | currency:'PLN '}}</h4>
        </div>
        <div class="col-1">
          <a (click)="removeFromCart(i)">
            <i class="fa fa-remove" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="shoppingCart?.length == 0" class="text-center m-5">
  <p class="fa fa-shopping-cart" style="font-size:200px;" aria-hidden="true"> </p>
  <h1>Your shopping cart is empty.</h1>
</div>
