<div class="my-3">
  <h2 class="text-center "> Delivery address </h2>
  <div class=" mb-5">
    <a [routerLink]="['/shopping-cart']">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </a>
    <a class="float-right" [routerLink]="['/order-submit']" disabled="addressForm.invalid">
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </a>
  </div>
</div>

<div class="row my-5">
  <div class="col-md-6">
    <h3>Enter address</h3>
    <form #addressForm="ngForm">
      <div class="form-group">
        <label>Address</label>
        <input class="form-control" [(ngModel)]="address" name="address" maxlength="30" type="text" required>
      </div>
      <div class="form-group">
        <label>Postal Code</label>
        <input class="form-control" [(ngModel)]="postalCode" name="postalCode" maxlength="10" type="text" required>
      </div>
      <div class="form-group">
        <label>City</label>
        <input class="form-control" [(ngModel)]="city" name="city" maxlength="30" type="text" required>
      </div>
      <div class="form-group">
        <label>Country</label>
        <input class="form-control" [(ngModel)]="country" name="country" maxlength="30" type="text" required>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h3>Previously used addresses</h3>
    <h5 *ngIf="user.addressList?.length === 0"> There are no addresses yet</h5>
    <div class="row" *ngFor="let fullAddress of user.addressList;let i = index" (click)="setAddress(i)">
      <div class="col-12 p-2 highlight">
        <h5>
          <strong>{{fullAddress.postalCode}}, {{fullAddress.city}}</strong>
        </h5>
        <h5>{{fullAddress.address}}</h5>
      </div>
    </div>
  </div>
</div>
