<footer >
  <hr class="featurette-divider">
  <div class="row mx-0">
    <div class="col-md-4 px-5">
      <p>Duis mollis </p>
      <p>Duis mollis </p>
      <p>Duis mollis </p>
      <p>Duis mollis </p>
    </div>
    <div class="col-md-4 px-5">
      <p>Duis mollis </p>
      <p>Duis mollis </p>
      <p>Duis mollis </p>
      <p>Duis mollis </p>
    </div>

    <div class="col-md-4 px-5">
      <div class="row">
        <h1>
          <i class="fa fa-facebook-square px-2" aria-hidden="true"></i>
        </h1>
        <h1>
          <i class="fa fa-instagram px-2" aria-hidden="true"></i>
        </h1>
        <h1>
          <i class="fa fa-twitter-square px-2" aria-hidden="true"></i>
        </h1>
      </div>
    </div>

  </div>
  <p class="text-center">&copy; 2017 Jakub Zaręba</p>
</footer>