<footer class="mt-5">
  <div class="row mx-0">
    <div class="col-md-4 px-5">
      <h5>Payment methods</h5>
      <div class="row px-2">
        <h1>
          <i class="fa fa-cc-visa px-2" aria-hidden="true"></i>
        </h1>
        <h1>
          <i class="fa fa-cc-paypal px-2" aria-hidden="true"></i>
        </h1>
        <h1>
          <i class="fa fa-cc-mastercard px-2" aria-hidden="true"></i>
        </h1>
      </div>
    </div>
    <div class="col-md-4 px-5">
      <h5>Free delivery and 100 days return</h5>
      <div class="row px-2">
        <h1>
          <i class="fa fa-truck px-2" aria-hidden="true"></i>
        </h1>
        <h1>
          <i class="fa fa-calendar px-2" aria-hidden="true"></i>
        </h1>
        <h1>
          <i class="fa fa-reply px-2" aria-hidden="true"></i>
        </h1>
      </div>
    </div>
    <div class="col-md-4 px-5">
      <h5>Follow us on</h5>
      <div class="row px-2">
        <h1>
          <i class="fa fa-facebook-square px-2" aria-hidden="true"></i>
        </h1>
        <h1>
          <i class="fa fa-instagram px-2" aria-hidden="true"></i>
        </h1>
        <h1>
          <i class="fa fa-twitter-square px-2" aria-hidden="true"></i>
        </h1>
      </div>
    </div>
  </div>
  <p class="text-center">* - Note: this website is purely demonstrative. I declare that I do not have copyrights to the photos and brands details
    posted on it. The site is only non-commercial and shopping on it will not result in actual trade.</p>
  <p class="text-center"> Author: &copy; 2017 Jakub Zaręba</p>
</footer>
