<div class="my-3">
  <h2 class="text-center "> Order submition </h2>
  <div class=" mb-5">
    <a [routerLink]="['/address-details']">
      <button class="btn btn-outline-primary float-left" type="submit">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> &ensp;Back
      </button>
    </a>
  </div>
</div>

<div class="row my-5">
  <div class="col-md-7 ">
    <hr>
    <h3>Items in cart</h3>
    <table class="table table-hover ">
      <tbody>
        <tr *ngFor="let item of user.shoppingCart;let i = index">
          <td style="width:120px">
            <a [routerLink]="['/item', item._id]">
              <img class="item-img-small" src="{{item.img}}">
            </a>
          </td>
          <td>
            <h5>
              <strong>{{item.brand}}</strong>
            </h5>
            <h5>{{item.name | truncate}}
            </h5>
            <h5>Size {{item.sizeSelected}}</h5>
            <h4>{{item.price | currency:'PLN '}}</h4>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-5">
    <hr>
    <h3>Delivery address</h3>
    <h5> {{lastAddress?.address}}</h5>
    <h5> {{lastAddress?.postalCode}} , {{lastAddress?.city}} </h5>
    <h5>
      <strong>{{lastAddress?.country}}</strong>
    </h5>
    <h2 class="mt-5 mb-3"> Total price : {{totalPrice| currency:'PLN '}} </h2>
    <button class="btn btn-outline-primary" style="width:100%;" (click)="submitOrder()" type="submit">
      Submit order&ensp;
      <i class="fa fa-check" aria-hidden="true"></i>
    </button>
  </div>
</div>
