<h4 *ngIf="items">{{items[0].category}}&emsp;>&emsp;{{items[0].subcategory}}</h4>
<div class="row">
  <div class="col-md-4 my-3">
    <div class="form-group">
      <label>Brand</label>
      <select class="form-control" id="exampleSelect1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
  </div>
  <div class="col-md-4 my-3">
    <div class="form-group">
      <label>Price</label>
      <select class="form-control" id="exampleSelect1">
        <option>< 100</option>
        <option>100 - 200</option>
        <option>200 - 300</option>
        <option>300 - 400</option>
        <option>400 <</option>
      </select>
    </div>
  </div>
  <div class="col-md-4 my-3">
    <div class="form-group">
      <label>Size</label>
      <select class="form-control" id="exampleSelect1">
        <option>XS</option>
        <option>S</option>
        <option>M</option>
        <option>L</option>
        <option>XL</option>
      </select>
    </div>

  </div>

</div>
<div class="row">
  <div class="col-md-4 my-4" *ngFor="let item of items">
    <a [routerLink]="['/item', item._id]">
      <img class="item-img" src="https://mosaic02.ztat.net/vgs/media/catalog-sm/IN/A5/2H/00/1Q/11/INA52H001-Q11@11.jpg">


      <h5><strong>{{item.brand}}</strong> </h5>
      <h5>{{item.name | truncate}} <label class="float-right">
        {{item.price | currency:'PLN '}}</label></h5>

    </a>
  </div>

</div>