<div class="row">
  <div class="col-md-4">
    <a class="navbar-brand" [routerLink]="['/']">
      <h2>{{ 'GLOBAL.TITLE' | translate}}</h2>
    </a>
  </div>
  <div class="col-md-8 ">
    <div class="form-inline my-2 float-right">
      <a [routerLink]="['/shopping-cart']" *ngIf="authService.loggedIn()">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      </a>
      <a class="mx-2" [routerLink]="['/profile']" *ngIf="authService.loggedIn()">
        <i class="fa fa-user" aria-hidden="true"></i>
      </a>
      <i class="fa fa-sign-in" *ngIf="!authService.loggedIn()" (click)="openModal()"></i>
      <i class="fa fa-sign-out" *ngIf="authService.loggedIn()" (click)="onLogoutClick()" aria-hidden="true"></i>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <button [ngClass]="{'collapsed':isCollapsed == true}" class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngClass]="{'show': isCollapsed == false}" class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" (click)="onClick()" [routerLink]="['/category/clothing']">Clothing</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" (click)="onClick()" [routerLink]="['/category/footwear']">Footwear</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" (click)="onClick()" [routerLink]="['/category/sport']">Sport</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" (click)="onClick()" [routerLink]="['/category/accessories']">Accessories</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link red" (click)="onClick()" [routerLink]="['/category/sale']">Sale!</a>
      </li>
    </ul>
  </div>
</nav>
